@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


h2 {
  margin-bottom: 5px;
}

a {
  display: inline-block;
  margin-bottom: 20px;
}

.login-input {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.success {
  color: indianred;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-top: 20px;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.input-error {
  border-color: red;
}

.error-message {
  color: rgb(233, 145, 145);
  font-size: 12px;
  margin-top: 5px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}